@import "../include/params";

.blog-list {
  background-color: $color-dark;
  padding-top: 80px;
  padding-bottom: 80px;
  .blog-list__elem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-white;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid $color-white;
    }
    &:hover {
      border-bottom: 1px solid $color-red;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url($path_vector-red) 20px 20px;
        background-size: cover;
        margin-left: auto;
        display: block;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        padding-left: 20px;
      }
    }
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: url($path_vector-white) 20px 20px;
      background-size: cover;
      margin-left: auto;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      padding-left: 20px;
    }
  }
  .blog-list__column {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .blog-list__img {
    height: 70px;
  }
  .blog-list__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 18px;
    margin-right: 10px;
  }
  .blog-list__date {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: $color-white;
  }
  @include media-min("md") {
    .blog-list__elem {
      &:hover {
        border-bottom: 1px solid $color-red;
        &::after {
          content: "";
          width: 24px;
          height: 24px;
          background: url($path_vector-red) 24px 24px;
          background-size: cover;
          margin-left: auto;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
      &::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url($path_vector-white) 24px 24px;
        background-size: cover;
        margin-left: auto;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
    .blog-list__title {
      font-size: 28px;
      line-height: 33px;
    }
    .blog-list__date {
      font-size: 20px;
      line-height: 24px;
    }
    .blog-list__img {
      height: 95px;
    }
  }

  @include media-min("lg") {
    padding-top: 120px;
    padding-bottom: 120px;
    .blog-list__elem {
      &:hover {
        border-bottom: 1px solid $color-red;
        &::after {
          content: "";
          width: 43px;
          height: 43px;
          background: url($path_vector-red) 43px 43px;
          background-size: cover;
          margin-left: auto;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
      &::after {
        content: "";
        width: 43px;
        height: 43px;
        background: url($path_vector-white) 43px 43px;
        background-size: cover;
        margin-left: auto;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
    .blog-list__title {
      font-size: 40px;
      line-height: 45px;
    }
    .blog-list__date {
      font-size: 24px;
      line-height: 27px;
    }
    .blog-list__img {
      height: 140px;
    }
    .blog-list__column {
      margin-left: 60px;
    }
  }
}

.blog-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .blog-preview__content {
    width: 100%;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
  h1 {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: 50px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    color: $color-dark;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: $color-dark;
    margin-bottom: 30px;
  }
  img {
    margin-bottom: 12px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center center;
  }
  .author {
    display: block;
    margin-bottom: 0px;
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    color: $color-dark;
    margin-top: 30px;
  }
  .date {
    display: block;
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: capitalize;
    color: $color-dark;
    margin-top: 30px;
  }
  @include media-min("md") {
    img {
      width: 49%;
    }
  }
  @include media-min("xl") {
    h1 {
      font-size: 48px;
      line-height: 54px;
      margin-bottom: 60px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 32px;
      line-height: 140%;
      margin-bottom: 40px;
    }
    p {
      font-weight: 300;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 40px;
    }
    .author {
      font-weight: 400;
      font-size: 24px;
      line-height: 27px;
    }
    .date {
      font-weight: 400;
      font-size: 24px;
      line-height: 27px;
    }
    .blog-preview__content {
      div {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
  @include media-min("xxl") {
    .blog-preview__content {
      width: 60%;
    }
    img{
      max-height: 600px;
    }
  }
}
