@import "../include/params";

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .certificate {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
    border: 1px solid $color-gray;
  }
  @include media-min("md") {
    .certificate {
      width: 80%;
      margin-bottom: 50px;
    }
  }
  @include media-min("xl") {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 130px;
    padding-bottom: 80px;
    .certificate {
      width: 30%;
      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}
