@import "../include/params";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-dark;
  .footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $color-dark;
  }
  .footer__privacy {
    padding: 20px 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-dark;
    text-align: center;
  }
  .footer__column {
  }
  .footer__logo-link {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: $color-dark;
    padding-bottom: 60px;
    display: block;
  }
  .footer__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: 30px;
  }
  .footer__menu-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-menu {
    margin-bottom: 50px;
    .menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .menu__elem {
      margin-right: 0px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .menu__link {
      color: $color-dark;
      padding: 0px;
    }
  }

  @include media-min("md") {
    .footer__menu-group {
      width: unset;
      .footer__column {
        margin-right: 50px;
      }
    }
    .footer-menu {
      margin-bottom: 0px;
    }
  }
  @include media-min("xl") {
    .footer__title {
      font-size: 20px;
      line-height: 22px;
    }
    .footer-menu {
      .menu__link {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
