@import "../include/params";

.masters {
  padding-bottom: 40px;
  .masters__head {
    margin-bottom: 40px;
  }
  .masters__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: 30px;
  }
  .masters__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: $color-dark;
  }
  .masters__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include media-min("md") {
    .masters__head {
      margin-bottom: 60px;
    }
  }
  @include media-min("xl") {
    padding-bottom: 100px;
    .masters__head {
      margin-bottom: 80px;
      width: 60%;
    }
    .masters__title {
      font-size: 48px;
      line-height: 54px;
    }
    .masters__subtitle {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
    }
  }
  @include media-min("xxl") {
    .masters__head {
      width: 40%;
    }
  }
}

.master {
  width: 100%;
  margin-bottom: 40px;
  &:hover {
    .master__title {
      color: $color-red;
      &::after {
        content: "";
        width: 26px;
        height: 26px;
        background: url($path_vector-red) 26px 26px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
  }
  display: flex;
  flex-direction: column;
  .master__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: $color-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      width: 26px;
      height: 26px;
      background: url($path_vector-black) 26px 26px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
  }
  .master__subtitle {
    font-family: "Jura";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-dark;
    margin: 20px 0px 12px 0px;
  }
  .master__img {
    width: 100%;
  }

  @include media-min("md") {
    width: 48%;
    .master__subtitle {
      font-family: "a_Algerius";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
    }
  }
  @include media-min("xl") {
    width: 32%;
  }
}
