@import "../include/params";

.menu {
  .menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu__elem {
    cursor: pointer;
    margin-right: 30px;
    &.menu__elem_active {
      .menu__link {
        border-bottom: 1px solid $color-white;
      }
    }
    &:hover {
      .menu__link {
        border-color: $color-red;
      }
    }
  }
  .menu__link {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: $color-white;
    padding-bottom: 5px;
    transition: color 0.2s linear;
    &:hover {
      color: $color-red;
    }
  }
  @include media-min("xxl") {
    .menu__link {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.mobile-menu {
  padding-top: 10px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: -110%;
  transition: right 0.3s linear;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  z-index: 999;
  background-color: $color-white;
  .mobile-menu__head {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.mobile-menu_open {
    right: 0px;
  }
  .mobile-menu-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .mobile-menu__button {
    width: 100%;
    height: 65px;
    .button {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      text-transform: capitalize;
      color: $color-white;
      margin-top: 20px;
    }
  }
  .menu {
    .menu__list {
      flex-direction: column;
      align-items: flex-start;
    }
    .menu__elem {
      margin-bottom: 40px;
    }
    .menu__link {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-transform: capitalize;
      color: $color-dark;
      transition: color 0.2s linear;
      &:hover {
        color: $color-red;
      }
    }
  }
  @include media-min("md") {
    .mobile-menu-close {
      right: 40px;
    }
  }
}
