@import "../include/params";

.pagination {
  display: block;
  ul.page-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .page-numbers {
    border: 1px solid $color-dark;
    font-family: "Jura";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $color-dark;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    &:hover{
      color: $color-red;
    }
    &.current {
      color: $color-red;
    }
    &.prev {
      &::after {
        content: "";
        width: 20px;
        height: 18px;
        background: url($path_vector-pagination-black) 20px 18px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
      &:hover {
        border: 1px solid $color-red;
        &::after {
          content: "";
          width: 20px;
          height: 18px;
          background: url($path_vector-pagination-red) 20px 18px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
    }
    &.next {
      &::after {
        content: "";
        width: 20px;
        height: 18px;
        background: url($path_vector-pagination-black) 20px 18px;
        transform: rotate(180deg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
      &:hover {
        border: 1px solid $color-red;
        &::after {
          content: "";
          width: 20px;
          height: 18px;
          background: url($path_vector-pagination-red) 20px 18px;
          transform: rotate(180deg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
    }
  }
  @include media-max("sm") {
    .page-numbers {
      width: 40px;
      height: 40px;
    }
  }
  @include media-min("md") {
    ul.page-numbers{
        justify-content: start;
    }
    .page-numbers {
      font-size: 24px;
      width: 74px;
      height: 74px;
      margin-right: 10px;
    }
  }
}
