@import "../include/params";

.products {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
  @include media-min("md") {
    padding-bottom: 80px;
  }
  @include media-min("xl") {
    padding-bottom: 100px;
  }
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .product__img {
    width: 100%;
    height: 415px;
    object-fit: cover;
  }
  .product__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $color-dark;
    padding: 12px 0px;
  }
  .product__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: $color-dark;
  }
  .product__price {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: $color-dark;
    padding: 20px 0px;
    display: block;
  }
  @include media-min("md") {
    width: 49%;
    .product__title {
      font-size: 20px;
      line-height: 150%;
    }
    .product__price {
      font-size: 20px;
      line-height: 22px;
      padding: 20px 0px 40px 0px;
    }
  }
  @include media-min("xl") {
    width: 32%;
    .product__title {
      font-size: 24px;
      line-height: 150%;
    }
    .product__price {
      font-size: 24px;
      line-height: 27px;
      padding: 20px 0px 60px 0px;
    }
  }
  @include media-min("xxl") {
    width: 24%;
  }
}
