@import "../include/params";

.why-us {
  .why-us__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: 60px;
  }

  .why-us__list {
    display: flex;
    flex-direction: column;
    .why-us__elem {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .why-us__number {
      font-family: "a_Algerius";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 140%;
      color: $color-red;
      margin-bottom: 12px;
    }
    .why-us__info {
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: $color-dark;
    }
  }
  @include media-min("sm") {
    &.why-us-xxl {
      display: none;
    }
  }
  @include media-max("sm") {
    &.why-us-xxl {
      display: none;
    }
  }
  @include media-min("md") {
    .why-us__list {
      .why-us__elem {
        flex-direction: row;
        align-items: center;
      }
      .why-us__number {
        font-size: 64px;
        line-height: 140%;
        margin-bottom: 0px;
        width: 20%;
      }
      .why-us__info {
        font-size: 24px;
        line-height: 140%;
        width: 80%;
      }
    }
    &.why-us-xxl {
      display: none;
    }
  }
  @include media-min("xl") {
    .why-us__title {
      font-size: 48px;
      line-height: 54px;
      margin-bottom: 80px;
    }
    .why-us__list {
      flex-direction: row;
      justify-content: space-between;
      .why-us__elem {
        flex-direction: column;
        width: 30%;
        align-items: flex-start;
        margin-bottom: 0px;
      }
      .why-us__number {
        margin-bottom: 12px;
        width: 100%;
      }
      .why-us__info {
        width: 100%;
      }
    }
    &.why-us-xxl {
      display: none;
    }
  }
  @include media-min("xxl") {
    &.why-us-xxl {
      display: block;
    }
  }
}
