@import "params";

.button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  background-color: $color-red;
  width: 100%;
  height: 100%;
  &:hover {
    background-color: $color-red-hover;
  }
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include media-min("xxl") {
    font-size: 20px;
    line-height: 25px;
  }
}
