.container{
    @include media-max("sm") {
        padding: 0px 20px 0px 20px;
    }
    @include media-min("sm") {
        padding: 0px 20px 0px 20px;
    }
    @include media-min("md") {
        padding: 0px 40px 0px 40px;
    }
    @include media-min("lg") {
        padding: 0px 40px 0px 40px;
    }
    @include media-min("xl") {
        padding: 0px 60px 0px 60px;
    }
    @include media-min("xxl") {
        padding: 0px 100px 0px 100px;
    }
}

.container-full{
    @include media-max("sm") {
        padding: 80px 20px 80px 20px;
    }
    @include media-min("sm") {
        padding: 80px 20px 80px 20px;
    }
    @include media-min("md") {
        padding: 80px 40px 80px 40px;
    }
    @include media-min("lg") {
        padding: 80px 40px 80px 40px;
    }
    @include media-min("xl") {
        padding: 140px 60px 140px 60px;
    }
    @include media-min("xxl") {
        padding: 140px 100px 140px 100px;
    }
}

