@import "params";

.bg-present {
  width: 24px; height: 24px;
  background: url($path_sprite_icons) -10px -52px;
  &:hover{
    width: 24px; height: 24px;
    background: url($path_sprite_icons) -10px -96px;
  }
}

.bg-map {
  width: 30px; height: 30px;
  background: url($path_sprite_icons) -10px -140px;
}

.bg-menu_open {
  width: 30px; height: 30px;
  background: url($path_sprite_icons) -10px -190px;
}

.bg-phone {
  width: 30px; height: 31px;
  background: url($path_sprite_icons) -10px -240px;
}

.bg-menu_close {
  width: 22px; height: 22px;
  background: url($path_sprite_icons) -10px -10px;
}