// media config
$sizes: (
  "sm": 440px,
  "md": 768px,
  "lg": 960px,
  "xl": 1280px,
  "xxl": 1920px,
);
// $sizes: (
//   "sm": 576px,
//   "md": 768px,
//   "lg": 992px,
//   "xl": 1200px,
//   "xxl": 1400px,
// );
// lg -max tablet size
// sm -max phone size

@mixin media-max($media) {
  @each $size, $resolution in $sizes {
    @if $media==$size {
      @media only screen and (max-width: ($resolution)-0.5) {
        @content;
      }
    }
  }
}

@mixin media-min($media) {
  @each $size, $resolution in $sizes {
    @if $media==$size {
      @media only screen and (min-width: $resolution) {
        @content;
      }
    }
  }
}

// fonts
@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// colors
$color-black: #000000;
$color-dark: #1f1d1e;
$color-white: #ffffff;
$color-red: #cb363a;
$color-red-hover: #b02c30;
$color-gray: #727272;

// sprites path
$path_sprite_icons: "../image/icons/css_sprites.png";

// vector angle
$path_vector-white: "../image/icons/vector-white.png";
$path_vector-black: "../image/icons/vector-black.png";
$path_vector-red: "../image/icons/vector-red.png";

// vector pagination
$path_vector-pagination-black: "../image/icons/vector-pagination_black.png";
$path_vector-pagination-red: "../image/icons/vector-pagination_red.png";


