@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@media only screen and (max-width: 439.5px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0px 40px 0px 40px;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    padding: 0px 40px 0px 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    padding: 0px 60px 0px 60px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    padding: 0px 100px 0px 100px;
  }
}

@media only screen and (max-width: 439.5px) {
  .container-full {
    padding: 80px 20px 80px 20px;
  }
}
@media only screen and (min-width: 440px) {
  .container-full {
    padding: 80px 20px 80px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container-full {
    padding: 80px 40px 80px 40px;
  }
}
@media only screen and (min-width: 960px) {
  .container-full {
    padding: 80px 40px 80px 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-full {
    padding: 140px 60px 140px 60px;
  }
}
@media only screen and (min-width: 1920px) {
  .container-full {
    padding: 140px 100px 140px 100px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.bg-present {
  width: 24px;
  height: 24px;
  background: url("../image/icons/css_sprites.png") -10px -52px;
}
.bg-present:hover {
  width: 24px;
  height: 24px;
  background: url("../image/icons/css_sprites.png") -10px -96px;
}

.bg-map {
  width: 30px;
  height: 30px;
  background: url("../image/icons/css_sprites.png") -10px -140px;
}

.bg-menu_open {
  width: 30px;
  height: 30px;
  background: url("../image/icons/css_sprites.png") -10px -190px;
}

.bg-phone {
  width: 30px;
  height: 31px;
  background: url("../image/icons/css_sprites.png") -10px -240px;
}

.bg-menu_close {
  width: 22px;
  height: 22px;
  background: url("../image/icons/css_sprites.png") -10px -10px;
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  background-color: #cb363a;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.button:hover {
  background-color: #b02c30;
}
@media only screen and (min-width: 1920px) {
  .button {
    font-size: 20px;
    line-height: 25px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 100%;
  padding-top: 10px;
}
.header .header-logo__link {
  width: 140px;
  height: 140px;
}
.header .header-logo__img {
  width: 100%;
  height: 100%;
}
.header .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__block.header__block_left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header .header__block.header__block_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header__block.header__block_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header .header__button {
  display: none;
}
.header .header-menu {
  display: none;
}
.header .mobile-menu-open {
  display: block;
}
@media only screen and (min-width: 1280px) {
  .header .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__block {
    width: 40%;
  }
  .header .header__block.header__block_center {
    width: 20%;
  }
  .header .mobile-menu-open {
    display: none;
  }
  .header .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    height: 50px;
  }
}
@media only screen and (min-width: 1920px) {
  .header .header__button {
    width: 210px;
    height: 60px;
  }
}

.header-bg {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  background-color: #000000;
}
.header-bg .header-bg__info-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-bg .header-bg__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.header-bg .header-bg__subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.header-bg .header-bg__arrow {
  width: 30px;
  height: 34px;
  position: absolute;
  bottom: 80px;
  -webkit-animation-name: opacity-anim;
          animation-name: opacity-anim;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.header-bg .header-bg__img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 439.5px) {
  .header-bg .header-bg__title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .header-bg {
    height: 960px;
  }
  .header-bg .header-bg__arrow {
    bottom: 160px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-bg .header-bg__title {
    font-size: 64px;
    padding-bottom: 30px;
  }
  .header-bg .header-bg__subtitle {
    font-size: 24px;
    line-height: 30px;
    width: 70%;
  }
  .header-bg .header-bg__arrow {
    width: 40px;
    height: 45px;
  }
}

@-webkit-keyframes opacity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #1f1d1e;
}
.footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 60px;
}
.footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #1f1d1e;
}
.footer .footer__privacy {
  padding: 20px 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1f1d1e;
  text-align: center;
}
.footer .footer__logo-link {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #1f1d1e;
  padding-bottom: 60px;
  display: block;
}
.footer .footer__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1f1d1e;
  margin-bottom: 30px;
}
.footer .footer__menu-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer-menu {
  margin-bottom: 50px;
}
.footer .footer-menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer-menu .menu__elem {
  margin-right: 0px;
  margin-bottom: 20px;
}
.footer .footer-menu .menu__elem:last-child {
  margin-bottom: 0px;
}
.footer .footer-menu .menu__link {
  color: #1f1d1e;
  padding: 0px;
}
@media only screen and (min-width: 768px) {
  .footer .footer__menu-group {
    width: unset;
  }
  .footer .footer__menu-group .footer__column {
    margin-right: 50px;
  }
  .footer .footer-menu {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .footer__title {
    font-size: 20px;
    line-height: 22px;
  }
  .footer .footer-menu .menu__link {
    font-size: 20px;
    line-height: 25px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .menu__elem {
  cursor: pointer;
  margin-right: 30px;
}
.menu .menu__elem.menu__elem_active .menu__link {
  border-bottom: 1px solid #ffffff;
}
.menu .menu__elem:hover .menu__link {
  border-color: #cb363a;
}
.menu .menu__link {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 5px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu .menu__link:hover {
  color: #cb363a;
}
@media only screen and (min-width: 1920px) {
  .menu .menu__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
}

.mobile-menu {
  padding-top: 10px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0px;
  right: -110%;
  -webkit-transition: right 0.3s linear;
  -o-transition: right 0.3s linear;
  transition: right 0.3s linear;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  z-index: 999;
  background-color: #ffffff;
}
.mobile-menu .mobile-menu__head {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu.mobile-menu_open {
  right: 0px;
}
.mobile-menu .mobile-menu-close {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.mobile-menu .mobile-menu__button {
  width: 100%;
  height: 65px;
}
.mobile-menu .mobile-menu__button .button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 20px;
}
.mobile-menu .menu .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.mobile-menu .menu .menu__elem {
  margin-bottom: 40px;
}
.mobile-menu .menu .menu__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: #1f1d1e;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.mobile-menu .menu .menu__link:hover {
  color: #cb363a;
}
@media only screen and (min-width: 768px) {
  .mobile-menu .mobile-menu-close {
    right: 40px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  cursor: pointer;
}
.contact:last-child {
  margin-bottom: 0px;
}
.contact .contact__icon {
  margin-right: 20px;
}
.contact .contact__address {
  all: unset;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  color: #1f1d1e;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.contact .contact__address:hover {
  color: #cb363a;
}
.contact .contact__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .contact__phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1f1d1e;
  padding-bottom: 6px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.contact .contact__phone:last-child {
  padding-bottom: 0px;
}
.contact .contact__phone:hover {
  color: #cb363a;
}
@media only screen and (min-width: 1280px) {
  .contact .contact__phone {
    font-size: 20px;
    line-height: 25px;
  }
  .contact .contact__address {
    font-size: 20px;
    line-height: 140%;
  }
}

.contacts-page {
  background-color: #000000;
  padding-top: 180px;
  padding-bottom: 80px;
}
.contacts-page .contacts__content {
  width: 100%;
}
.contacts-page .contacts-info {
  background-color: #ffffff;
  padding: 50px 40px;
  width: 100%;
}
.contacts-page .contacts__map {
  width: 100%;
  height: 400px;
}
.contacts-page .contacts__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1f1d1e;
  margin-bottom: 20px;
}
.contacts-page .contacts__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
  color: #1f1d1e;
}
.contacts-page .contacts__block {
  margin-bottom: 46px;
}
.contacts-page .contacts__block:last-child {
  margin-bottom: 0px;
}
.contacts-page .contact .contact__phone {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}
.contacts-page .contact .contact__phone:last-child {
  padding-bottom: 0px;
}
.contacts-page .contact .contact__address {
  font-size: 16px;
  line-height: 140%;
}
@media only screen and (min-width: 768px) {
  .contacts-page .contacts__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts-page .contacts__map {
    height: 556px;
  }
}
@media only screen and (min-width: 1280px) {
  .contacts-page {
    padding-top: 230px;
  }
  .contacts-page .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts-page .contacts__detail {
    width: 53%;
  }
  .contacts-page .contact .contact__phone {
    white-space: nowrap;
    font-size: 18px;
    line-height: 23px;
  }
  .contacts-page .contact .contact__address {
    font-size: 18px;
    line-height: 140%;
  }
  .contacts-page .contacts__title {
    font-size: 24px;
    line-height: 27px;
  }
  .contacts-page .contacts__subtitle {
    font-size: 18px;
    line-height: 140%;
  }
}
@media only screen and (min-width: 1920px) {
  .contacts-page .contacts__detail {
    width: 47%;
  }
  .contacts-page .contacts-info {
    padding: 50px 60px;
  }
}

.connect-with-us .connect-with-us__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 80px;
}
.connect-with-us .connect-with-us__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.connect-with-us .connect-with-us__form {
  padding-top: 100px;
}
@media only screen and (min-width: 768px) {
  .connect-with-us .connect-with-us__subtitle {
    width: 70%;
  }
  .connect-with-us .connect-with-us__form {
    padding-top: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .connect-with-us {
    width: 43%;
  }
  .connect-with-us .connect-with-us__title {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .connect-with-us .connect-with-us__subtitle {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1920px) {
  .connect-with-us {
    width: 42%;
  }
  .connect-with-us .connect-with-us__title {
    font-size: 48px;
    line-height: 54px;
  }
  .connect-with-us .connect-with-us__form {
    padding-top: 40px;
  }
}

.wpcf7 {
  width: 100%;
}
.wpcf7 .wpcf7-form {
  width: 100%;
}
.wpcf7 .wpcf7-form input[type=text],
.wpcf7 .wpcf7-form input[type=email] {
  width: 100%;
  background-color: #000000;
  border-bottom: 1px solid #727272;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #ffffff;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.wpcf7 .wpcf7-form input[type=text]::-webkit-input-placeholder, .wpcf7 .wpcf7-form input[type=email]::-webkit-input-placeholder {
  color: #727272;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.wpcf7 .wpcf7-form input[type=text]::-moz-placeholder, .wpcf7 .wpcf7-form input[type=email]::-moz-placeholder {
  color: #727272;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.wpcf7 .wpcf7-form input[type=text]:-ms-input-placeholder, .wpcf7 .wpcf7-form input[type=email]:-ms-input-placeholder {
  color: #727272;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.wpcf7 .wpcf7-form input[type=text]::-ms-input-placeholder, .wpcf7 .wpcf7-form input[type=email]::-ms-input-placeholder {
  color: #727272;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.wpcf7 .wpcf7-form input[type=text]::placeholder,
.wpcf7 .wpcf7-form input[type=email]::placeholder {
  color: #727272;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.wpcf7 .wpcf7-form .form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 60px;
  position: relative;
}
.wpcf7 .wpcf7-form .form__button input[type=submit] {
  cursor: pointer;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #cb363a;
  width: 210px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpcf7 .wpcf7-form .form__button input[type=submit]:hover {
  background-color: #b02c30;
}
.wpcf7 .wpcf7-form .form__button .wpcf7-spinner {
  position: absolute;
  right: 10px;
  padding: 0px;
  margin: 0px;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
  margin-top: 4px;
  color: #cb363a;
}
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap {
  width: 100%;
  display: inline-block;
}
.wpcf7 .wpcf7-form .wpcf7-response-output {
  border: 0px !important;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
}
.wpcf7 .wpcf7-form .wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 .wpcf7-form .wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 .wpcf7-form .wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #1f1d1e;
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.why-us .why-us__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #1f1d1e;
  margin-bottom: 60px;
}
.why-us .why-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.why-us .why-us__list .why-us__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
.why-us .why-us__list .why-us__elem:last-child {
  margin-bottom: 0px;
}
.why-us .why-us__list .why-us__number {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  color: #cb363a;
  margin-bottom: 12px;
}
.why-us .why-us__list .why-us__info {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #1f1d1e;
}
@media only screen and (min-width: 440px) {
  .why-us.why-us-xxl {
    display: none;
  }
}
@media only screen and (max-width: 439.5px) {
  .why-us.why-us-xxl {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .why-us .why-us__list .why-us__elem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-us .why-us__list .why-us__number {
    font-size: 64px;
    line-height: 140%;
    margin-bottom: 0px;
    width: 20%;
  }
  .why-us .why-us__list .why-us__info {
    font-size: 24px;
    line-height: 140%;
    width: 80%;
  }
  .why-us.why-us-xxl {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .why-us .why-us__title {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 80px;
  }
  .why-us .why-us__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .why-us .why-us__list .why-us__elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0px;
  }
  .why-us .why-us__list .why-us__number {
    margin-bottom: 12px;
    width: 100%;
  }
  .why-us .why-us__list .why-us__info {
    width: 100%;
  }
  .why-us.why-us-xxl {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
  .why-us.why-us-xxl {
    display: block;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.services {
  background-color: #1f1d1e;
}
.services .services__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #cb363a;
}
.services .services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .services__selection {
  display: none;
}
.services .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .services .services__title {
    font-size: 48px;
    line-height: 54px;
  }
  .services .services__selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44%;
  }
  .services .services__list {
    width: 56%;
  }
  .services .service:first-child .service__title {
    margin-top: 100px;
  }
}

.service .service__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 20px 0px;
  margin-bottom: 40px;
  margin-top: 60px;
}
.service .service__title:hover {
  border-bottom: 1px solid #cb363a;
}
.service .service__title:hover::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../image/icons/vector-red.png") 24px 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.service .service__title::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../image/icons/vector-white.png") 24px 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.service .service-elem:last-child {
  margin-bottom: 0px;
}
@media only screen and (max-width: 439.5px) {
  .service .service__title {
    font-size: 20px;
  }
  .service .service__title:hover {
    border-bottom: 1px solid #cb363a;
  }
  .service .service__title:hover::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../image/icons/vector-red.png") 20px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .service .service__title::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../image/icons/vector-white.png") 20px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .service .service__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
  }
  .service .service__title:hover::after {
    content: "";
    width: 26px;
    height: 26px;
    background: url("../image/icons/vector-red.png") 26px 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .service .service__title::after {
    content: "";
    width: 26px;
    height: 26px;
    background: url("../image/icons/vector-white.png") 26px 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .service .service__title {
    margin-top: 120px;
  }
}

.selection__list {
  margin-top: 100px;
}
.selection__list .selection__elem {
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.selection__list .selection__elem:hover {
  border-bottom: 1px solid #cb363a;
}
.selection__list .selection__elem:hover .selection__link {
  color: #cb363a;
}
.selection__list .selection__link {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;
}

.service-elem {
  margin-bottom: 30px;
}
.service-elem .service-elem__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.service-elem .service-elem__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding-right: 10px;
}
.service-elem .service-elem__price {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #ffffff;
  white-space: nowrap;
  padding-left: 0px;
}
.service-elem .service-elem__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .service-elem .service-elem__subtitle {
    width: 60%;
  }
}
@media only screen and (min-width: 1280px) {
  .service-elem .service-elem__title {
    font-size: 24px;
    line-height: 30px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.blog-list {
  background-color: #1f1d1e;
  padding-top: 80px;
  padding-bottom: 80px;
}
.blog-list .blog-list__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.blog-list .blog-list__elem:first-child {
  border-top: 1px solid #ffffff;
}
.blog-list .blog-list__elem:hover {
  border-bottom: 1px solid #cb363a;
}
.blog-list .blog-list__elem:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../image/icons/vector-red.png") 20px 20px;
  background-size: cover;
  margin-left: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-left: 20px;
}
.blog-list .blog-list__elem::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../image/icons/vector-white.png") 20px 20px;
  background-size: cover;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-left: 20px;
}
.blog-list .blog-list__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}
.blog-list .blog-list__img {
  height: 70px;
}
.blog-list .blog-list__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 18px;
  margin-right: 10px;
}
.blog-list .blog-list__date {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .blog-list .blog-list__elem:hover {
    border-bottom: 1px solid #cb363a;
  }
  .blog-list .blog-list__elem:hover::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../image/icons/vector-red.png") 24px 24px;
    background-size: cover;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .blog-list .blog-list__elem::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../image/icons/vector-white.png") 24px 24px;
    background-size: cover;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .blog-list .blog-list__title {
    font-size: 28px;
    line-height: 33px;
  }
  .blog-list .blog-list__date {
    font-size: 20px;
    line-height: 24px;
  }
  .blog-list .blog-list__img {
    height: 95px;
  }
}
@media only screen and (min-width: 960px) {
  .blog-list {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .blog-list .blog-list__elem:hover {
    border-bottom: 1px solid #cb363a;
  }
  .blog-list .blog-list__elem:hover::after {
    content: "";
    width: 43px;
    height: 43px;
    background: url("../image/icons/vector-red.png") 43px 43px;
    background-size: cover;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .blog-list .blog-list__elem::after {
    content: "";
    width: 43px;
    height: 43px;
    background: url("../image/icons/vector-white.png") 43px 43px;
    background-size: cover;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .blog-list .blog-list__title {
    font-size: 40px;
    line-height: 45px;
  }
  .blog-list .blog-list__date {
    font-size: 24px;
    line-height: 27px;
  }
  .blog-list .blog-list__img {
    height: 140px;
  }
  .blog-list .blog-list__column {
    margin-left: 60px;
  }
}

.blog-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.blog-preview .blog-preview__content {
  width: 100%;
}
.blog-preview .blog-preview__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.blog-preview h1 {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #1f1d1e;
  margin-bottom: 50px;
}
.blog-preview h2,
.blog-preview h3,
.blog-preview h4,
.blog-preview h5,
.blog-preview h6 {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #1f1d1e;
  margin-top: 10px;
  margin-bottom: 30px;
}
.blog-preview p {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #1f1d1e;
  margin-bottom: 30px;
}
.blog-preview img {
  margin-bottom: 12px;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.blog-preview .author {
  display: block;
  margin-bottom: 0px;
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-transform: capitalize;
  color: #1f1d1e;
  margin-top: 30px;
}
.blog-preview .date {
  display: block;
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-transform: capitalize;
  color: #1f1d1e;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .blog-preview img {
    width: 49%;
  }
}
@media only screen and (min-width: 1280px) {
  .blog-preview h1 {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 60px;
  }
  .blog-preview h2,
.blog-preview h3,
.blog-preview h4,
.blog-preview h5,
.blog-preview h6 {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .blog-preview p {
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .blog-preview .author {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
  }
  .blog-preview .date {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
  }
  .blog-preview .blog-preview__content div {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1920px) {
  .blog-preview .blog-preview__content {
    width: 60%;
  }
  .blog-preview img {
    max-height: 600px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.certificates .certificate {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #727272;
}
.certificates .certificate:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .certificates .certificate {
    width: 80%;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .certificates {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 130px;
    padding-bottom: 80px;
  }
  .certificates .certificate {
    width: 30%;
  }
  .certificates .certificate:last-child {
    margin-bottom: 50px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .products {
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .products {
    padding-bottom: 100px;
  }
}

.product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .product__img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #1f1d1e;
  padding: 12px 0px;
}
.product .product__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #1f1d1e;
}
.product .product__price {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #1f1d1e;
  padding: 20px 0px;
  display: block;
}
@media only screen and (min-width: 768px) {
  .product {
    width: 49%;
  }
  .product .product__title {
    font-size: 20px;
    line-height: 150%;
  }
  .product .product__price {
    font-size: 20px;
    line-height: 22px;
    padding: 20px 0px 40px 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .product {
    width: 32%;
  }
  .product .product__title {
    font-size: 24px;
    line-height: 150%;
  }
  .product .product__price {
    font-size: 24px;
    line-height: 27px;
    padding: 20px 0px 60px 0px;
  }
}
@media only screen and (min-width: 1920px) {
  .product {
    width: 24%;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.collage {
  background-color: #cb363a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collage .collage__img {
  border: 4px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
}
.collage .collage__img:nth-child(odd) {
  width: 360px;
  height: 500px;
}
.collage .collage__img:nth-child(even) {
  width: 280px;
  height: 400px;
}
@media only screen and (max-width: 1919.5px) {
  .collage {
    display: none;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.masters {
  padding-bottom: 40px;
}
.masters .masters__head {
  margin-bottom: 40px;
}
.masters .masters__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #1f1d1e;
  margin-bottom: 30px;
}
.masters .masters__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #1f1d1e;
}
.masters .masters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .masters .masters__head {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .masters {
    padding-bottom: 100px;
  }
  .masters .masters__head {
    margin-bottom: 80px;
    width: 60%;
  }
  .masters .masters__title {
    font-size: 48px;
    line-height: 54px;
  }
  .masters .masters__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1920px) {
  .masters .masters__head {
    width: 40%;
  }
}

.master {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.master:hover .master__title {
  color: #cb363a;
}
.master:hover .master__title::after {
  content: "";
  width: 26px;
  height: 26px;
  background: url("../image/icons/vector-red.png") 26px 26px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.master .master__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1f1d1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.master .master__title::after {
  content: "";
  width: 26px;
  height: 26px;
  background: url("../image/icons/vector-black.png") 26px 26px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.master .master__subtitle {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1f1d1e;
  margin: 20px 0px 12px 0px;
}
.master .master__img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .master {
    width: 48%;
  }
  .master .master__subtitle {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1280px) {
  .master {
    width: 32%;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cb363a;
}
.block-info .block-info__img {
  width: 200px;
  height: 200px;
}
.block-info .block-info__text {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .block-info .block-info__text {
    width: 80%;
  }
}
@media only screen and (min-width: 1280px) {
  .block-info .block-info__text {
    font-size: 36px;
    width: 60%;
  }
  .block-info .block-info__img {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 1920px) {
  .block-info .block-info__text {
    width: 40%;
  }
}

.block-info-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cb363a;
}
.block-info-custom .block-info__img {
  width: 200px;
  height: 200px;
}
.block-info-custom .block-info__text {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}
.block-info-custom .block-info__text_left,
.block-info-custom .block-info__text_right {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .block-info-custom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-info-custom .block-info__img {
    width: 300px;
    height: 300px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .block-info-custom .block-info__text {
    display: none;
  }
  .block-info-custom .block-info__text_left,
.block-info-custom .block-info__text_right {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    display: block;
    width: 34%;
  }
  .block-info-custom .block-info__text_left {
    text-align: right;
  }
  .block-info-custom .block-info__text_right {
    text-align: left;
  }
}
@media only screen and (min-width: 1920px) {
  .block-info-custom .block-info__text_left,
.block-info-custom .block-info__text_right {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.galery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.galery .pagination {
  margin-top: 60px;
}
.galery .galery__img {
  margin-bottom: 12px;
}
.galery .galery__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.galery .galery__line .galery__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galery .galery__line .galery__img:nth-child(n) {
  height: 488px;
}
.galery .galery__line .galery__img:nth-child(3) {
  height: 240px;
}
.galery .galery__line:nth-child(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.galery .galery__line:nth-child(even) .galery__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galery .galery__line:nth-child(even) .galery__img:nth-child(n) {
  height: 488px;
}
.galery .galery__line:nth-child(even) .galery__img:nth-child(1) {
  height: 240px;
}
@media only screen and (min-width: 768px) {
  .galery .galery__line {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .galery .galery__line .galery__img {
    width: 49%;
  }
  .galery .galery__line .galery__img:nth-child(n) {
    height: 412px;
  }
  .galery .galery__line .galery__img:nth-child(3) {
    width: 100%;
    height: 412px;
  }
  .galery .galery__line:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .galery .galery__line:nth-child(even) .galery__img {
    width: 49%;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 412px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 412px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    height: 412px;
  }
}
@media only screen and (min-width: 960px) {
  .galery .pagination {
    margin-top: 80px;
  }
  .galery .galery__line {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .galery .galery__line .galery__img:nth-child(n) {
    width: 24.25%;
    height: 338px;
  }
  .galery .galery__line .galery__img:nth-child(3) {
    height: 338px;
    width: 49.5%;
  }
  .galery .galery__line:nth-child(even) .galery__img {
    width: 50%;
    height: 420px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 24.25%;
    height: 338px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 24.25%;
    height: 338px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 49.5%;
    height: 338px;
  }
}
@media only screen and (min-width: 960px) {
  .galery .galery__line .galery__img:nth-child(n) {
    height: 500px;
  }
  .galery .galery__line .galery__img:nth-child(3) {
    height: 500px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(3) {
    height: 500px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(2) {
    height: 500px;
  }
  .galery .galery__line:nth-child(even) .galery__img:nth-child(1) {
    height: 500px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.pagination {
  display: block;
}
.pagination ul.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pagination .page-numbers {
  border: 1px solid #1f1d1e;
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1f1d1e;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.pagination .page-numbers:hover {
  color: #cb363a;
}
.pagination .page-numbers.current {
  color: #cb363a;
}
.pagination .page-numbers.prev::after {
  content: "";
  width: 20px;
  height: 18px;
  background: url("../image/icons/vector-pagination_black.png") 20px 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.pagination .page-numbers.prev:hover {
  border: 1px solid #cb363a;
}
.pagination .page-numbers.prev:hover::after {
  content: "";
  width: 20px;
  height: 18px;
  background: url("../image/icons/vector-pagination_red.png") 20px 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.pagination .page-numbers.next::after {
  content: "";
  width: 20px;
  height: 18px;
  background: url("../image/icons/vector-pagination_black.png") 20px 18px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.pagination .page-numbers.next:hover {
  border: 1px solid #cb363a;
}
.pagination .page-numbers.next:hover::after {
  content: "";
  width: 20px;
  height: 18px;
  background: url("../image/icons/vector-pagination_red.png") 20px 18px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
@media only screen and (max-width: 439.5px) {
  .pagination .page-numbers {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .pagination ul.page-numbers {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .pagination .page-numbers {
    font-size: 24px;
    width: 74px;
    height: 74px;
    margin-right: 10px;
  }
}

@font-face {
  font-family: "a_Algerius";
  src: url("../fonts/a_Algerius/aalgerius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.review {
  background-color: #1f1d1e;
  padding-bottom: 80px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.review .review__title {
  font-family: "a_Algerius";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 60px;
}
.review .review__content {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .review .review__title {
    font-size: 32px;
    line-height: 36px;
  }
}
@media only screen and (min-width: 1920px) {
  .review .review__content {
    width: 60%;
  }
}

.review__form .wpcf7-form input[type=text],
.review__form .wpcf7-form input[type=email] {
  background-color: #1f1d1e;
}
.review__form .wpcf7-form input[type=text]::-webkit-input-placeholder, .review__form .wpcf7-form input[type=email]::-webkit-input-placeholder {
  color: #ffffff !important;
}
.review__form .wpcf7-form input[type=text]::-moz-placeholder, .review__form .wpcf7-form input[type=email]::-moz-placeholder {
  color: #ffffff !important;
}
.review__form .wpcf7-form input[type=text]:-ms-input-placeholder, .review__form .wpcf7-form input[type=email]:-ms-input-placeholder {
  color: #ffffff !important;
}
.review__form .wpcf7-form input[type=text]::-ms-input-placeholder, .review__form .wpcf7-form input[type=email]::-ms-input-placeholder {
  color: #ffffff !important;
}
.review__form .wpcf7-form input[type=text]::placeholder,
.review__form .wpcf7-form input[type=email]::placeholder {
  color: #ffffff !important;
}
.review__form .wpcf7-form .form__button {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .review__form .wpcf7-form .form__button {
    margin-top: 60px;
  }
  .review__form .wpcf7-form .form__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .review__form .wpcf7-form .form__line .wpcf7-form-control-wrap {
    width: 49%;
  }
}

* {
  font-family: "Mulish";
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}