@import "../include/params";

.block-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-red;
  .block-info__img {
    width: 200px;
    height: 200px;
  }
  .block-info__text {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: $color-white;
    margin-top: 40px;
  }
  @include media-min("md") {
    .block-info__text {
      width: 80%;
    }
  }
  @include media-min("xl") {
    .block-info__text {
      font-size: 36px;
      width: 60%;
    }
    .block-info__img {
      width: 300px;
      height: 300px;
    }
  }
  @include media-min("xxl") {
    .block-info__text {
      width: 40%;
    }
  }
}

.block-info-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-red;
  .block-info__img {
    width: 200px;
    height: 200px;
  }
  .block-info__text {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $color-white;
    margin-top: 40px;
  }
  .block-info__text_left,
  .block-info__text_right {
    display: none;
  }
  @include media-min("xl") {
    flex-direction: row;
    justify-content: center;
    .block-info__img {
      width: 300px;
      height: 300px;
      margin-left: 3%;
      margin-right: 3%;
    }
    .block-info__text {
      display: none;
    }
    .block-info__text_left,
    .block-info__text_right {
      font-weight: 400;
      font-size: 28px;
      line-height: 150%;
      display: block;
      width: 34%;
    }
    .block-info__text_left {
      text-align: right;
    }
    .block-info__text_right {
      text-align: left;
    }
  }
  @include media-min("xxl") {
    .block-info__text_left,
    .block-info__text_right {
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
    }
  }
}
