@import "../include/params";

.collage {
  background-color: $color-red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .collage__img {
    border: 4px solid $color-white;
    object-fit: cover;
    &:nth-child(odd){
        width: 360px;
        height: 500px;
    }
    &:nth-child(even){
        width: 280px;
        height: 400px;
    }
  }
  @include media-max("xxl") {
    display: none;
  }
}
