@import "../include/params";

.contacts {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
  &:last-child {
    margin-bottom: 0px;
  }
  cursor: pointer;
  .contact__icon {
    margin-right: 20px;
  }
  .contact__address {
    all: unset;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
    color: $color-dark;
    transition: color 0.2s linear;
    &:hover {
      color: $color-red;
    }
  }
  .contact__phones {
    display: flex;
    flex-direction: column;
  }
  .contact__phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $color-dark;
    padding-bottom: 6px;
    transition: color 0.2s linear;
    &:last-child {
      padding-bottom: 0px;
    }
    &:hover {
      color: $color-red;
    }
  }
  @include media-min("xl") {
    .contact__phone {
      font-size: 20px;
      line-height: 25px;
    }
    .contact__address {
      font-size: 20px;
      line-height: 140%;
    }
  }
}

.contacts-page {
  background-color: $color-black;
  padding-top: 180px;
  padding-bottom: 80px;
  .contacts__content {
    width: 100%;
  }
  .contacts-info {
    background-color: $color-white;
    padding: 50px 40px;
    width: 100%;
  }
  .contacts__detail {
  }
  .contacts__map {
    width: 100%;
    height: 400px;
  }
  .contacts__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: 20px;
  }
  .contacts__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: $color-dark;
  }
  .contacts__block {
    margin-bottom: 46px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .contact {
    .contact__phone {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 8px;
      &:last-child {
        padding-bottom: 0px;
      }
    }
    .contact__address {
      font-size: 16px;
      line-height: 140%;
    }
  }
  @include media-min("md") {
    .contacts__detail {
      display: flex;
      flex-direction: row;
    }
    .contacts__map {
      height: 556px;
    }
  }
  @include media-min("xl") {
    padding-top: 230px;
    .contacts__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .contacts__detail {
      width: 53%;
    }
    .contact {
      .contact__phone {
        white-space: nowrap;
        font-size: 18px;
        line-height: 23px;
      }
      .contact__address {
        font-size: 18px;
        line-height: 140%;
      }
    }
    .contacts__title {
      font-size: 24px;
      line-height: 27px;
    }
    .contacts__subtitle {
      font-size: 18px;
      line-height: 140%;
    }
  }
  @include media-min("xxl") {
    .contacts__detail {
      width: 47%;
    }
    .contacts-info {
      padding: 50px 60px;
    }
  }
}

.connect-with-us {
  .connect-with-us__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 20px;
    padding-top: 80px;
  }
  .connect-with-us__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: $color-white;
  }
  .connect-with-us__form {
    padding-top: 100px;
  }
  @include media-min("md") {
    .connect-with-us__subtitle {
      width: 70%;
    }
    .connect-with-us__form {
      padding-top: 60px;
    }
  }
  @include media-min("xl") {
    width: 43%;
    .connect-with-us__title {
      padding-top: 0px;
      padding-bottom: 30px;
    }
    .connect-with-us__subtitle {
      width: 100%;
      font-size: 24px;
      line-height: 30px;
    }
  }
  @include media-min("xxl") {
    width: 42%;
    .connect-with-us__title {
      font-size: 48px;
      line-height: 54px;
    }
    .connect-with-us__form {
      padding-top: 40px;
    }
  }
}

.wpcf7 {
  width: 100%;
  .screen-reader-response {
  }
  .wpcf7-form {
    width: 100%;

    input[type="text"],
    input[type="email"] {
      width: 100%;
      background-color: $color-black;
      border-bottom: 1px solid $color-gray;
      padding-bottom: 20px;
      padding-top: 20px;
      color: $color-white;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      &::placeholder {
        color: $color-gray;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .form__button {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      margin-top: 60px;
      position: relative;
      input[type="submit"] {
        cursor: pointer;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: capitalize;
        color: $color-white;
        background-color: $color-red;
        width: 210px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $color-red-hover;
        }
      }
      .wpcf7-spinner {
        position: absolute;
        right: 10px;
        padding: 0px;
        margin: 0px;
      }
    }
    .wpcf7-not-valid-tip {
      margin-top: 4px;
      color: $color-red;
    }
    .wpcf7-form-control-wrap {
      width: 100%;
      display: inline-block;
    }
    .wpcf7-response-output {
      border: 0px !important;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: $color-white;
      padding: 0px;
      margin: 0px;
      margin-top: 20px;
    }
    .wpcf7 form.invalid .wpcf7-response-output,
    .wpcf7 form.unaccepted .wpcf7-response-output,
    .wpcf7 form.payment-required .wpcf7-response-output {
      border-color: $color-dark;
    }
  }
}
