@import "../include/params";

.galery {
  width: 100%;
  display: flex;
  flex-direction: column;
  .pagination {
    margin-top: 60px;
  }
  .galery__img {
    margin-bottom: 12px;
  }
  .galery__line {
    display: flex;
    flex-direction: column;
    width: 100%;
    .galery__img {
      width: 100%;
      object-fit: cover;
      &:nth-child(n) {
        height: 488px;
      }
      &:nth-child(3) {
        height: 240px;
      }
    }
    &:nth-child(even) {
      flex-direction: column-reverse;
      .galery__img {
        width: 100%;
        object-fit: cover;
        &:nth-child(n) {
          height: 488px;
        }
        &:nth-child(1) {
          height: 240px;
        }
      }
    }
  }
  @include media-min("md") {
    .galery__line {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .galery__img {
        width: 49%;
        &:nth-child(n) {
          height: 412px;
        }
        &:nth-child(3) {
          width: 100%;
          height: 412px;
        }
      }
      &:nth-child(even) {
        flex-direction: row;
        .galery__img {
          width: 49%;
          &:nth-child(3) {
            order: 1;
            height: 412px;
          }
          &:nth-child(2) {
            order: 2;
            height: 412px;
          }
          &:nth-child(1) {
            order: 3;
            width: 100%;
            height: 412px;
          }
        }
      }
    }
  }
  @include media-min("lg") {
    .pagination {
      margin-top: 80px;
    }
    .galery__line {
      flex-wrap: nowrap;
      .galery__img {
        &:nth-child(n) {
          width: calc(48.5% / 2);
          height: 338px;
        }
        &:nth-child(3) {
          height: 338px;
          width: 49.5%;
        }
      }
      &:nth-child(even) {
        .galery__img {
          width: 50%;
          height: 420px;
          &:nth-child(3) {
            order: 3;
            width: calc(48.5% / 2);
            height: 338px;
          }
          &:nth-child(2) {
            order: 2;
            width: calc(48.5% / 2);
            height: 338px;
          }
          &:nth-child(1) {
            order: 1;
            width: 49.5%;
            height: 338px;
          }
        }
      }
    }
  }

  @include media-min("lg") {
    .galery__line {
      .galery__img {
        &:nth-child(n) {
          height: 500px;
        }
        &:nth-child(3) {
          height: 500px;
        }
      }
      &:nth-child(even) {
        .galery__img {
          &:nth-child(3) {
            height: 500px;
          }
          &:nth-child(2) {
            height: 500px;
          }
          &:nth-child(1) {
            height: 500px;
          }
        }
      }
    }
  }
}
