@import "../include/params";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 100%;
  padding-top: 10px;
  .header-logo__link {
    width: 140px;
    height: 140px;
  }
  .header-logo__img {
    width: 100%;
    height: 100%;
  }

  .header__block {
    display: flex;
    align-items: center;
    &.header__block_left {
      justify-content: start;
    }
    &.header__block_center {
      justify-content: center;
    }
    &.header__block_right {
      justify-content: end;
    }
  }
  .header__button {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .mobile-menu-open {
    display: block;
  }
  @include media-min("xl") {
    .header-menu {
      display: flex;
    }
    .header__block {
      width: 40%;
      &.header__block_center {
        width: 20%;
      }
    }
    .mobile-menu-open {
      display: none;
    }
    .header__button {
      display: flex;
      width: 170px;
      height: 50px;
    }
  }
  @include media-min("xxl") {
    .header__button {
      width: 210px;
      height: 60px;
    }
  }
}

.header-bg {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  z-index: 0;
  background-color: $color-black;
  .header-bg__info-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-bg__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 20px;
  }
  .header-bg__subtitle {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: $color-white;
  }
  .header-bg__arrow {
    width: 30px;
    height: 34px;
    position: absolute;
    bottom: 80px;
    animation-name: opacity-anim;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
  }
  .header-bg__img {
    width: 100%;
    height: 100%;
  }
  @include media-max("sm") {
    .header-bg__title {
      font-size: 26px;
    }
  }
  @include media-min("md") {
    height: 960px;
    .header-bg__arrow {
      bottom: 160px;
    }
  }
  @include media-min("xl") {
    .header-bg__title {
      font-size: 64px;
      padding-bottom: 30px;
    }
    .header-bg__subtitle {
      font-size: 24px;
      line-height: 30px;
      width: 70%;
    }
    .header-bg__arrow {
      width: 40px;
      height: 45px;
    }
  }
}

@keyframes opacity-anim {
  from {opacity: 0;}
  to {opacity: 1;}
}
