@import "../include/params";

.review {
  background-color: $color-dark;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .review__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: $color-white;
    margin-bottom: 60px;
  }
  .review__content {
    width: 100%;
  }
  @include media-min("md") {
    .review__title {
      font-size: 32px;
      line-height: 36px;
    }
  }
  @include media-min("xxl") {
    .review__content {
      width: 60%;
    }
  }
}

.review__form {
  .wpcf7-form {
    input[type="text"],
    input[type="email"] {
      background-color: $color-dark;
      &::placeholder {
        color: $color-white !important;
      }
    }
    .form__button {
      margin-top: 30px;
    }
    @include media-min("md") {
      .form__button {
        margin-top: 60px;
      }
      .form__line {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .wpcf7-form-control-wrap {
          width: 49%;
        }
        margin-bottom: 40px;
      }
    }
  }
}
