@import "../include/params";

.services {
  background-color: $color-dark;
  .services__title {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: $color-red;
  }
  .services__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .services__selection {
    display: none;
  }
  .services__list {
    display: flex;
    flex-direction: column;
  }
  @include media-min("xl") {
    .services__title {
      font-size: 48px;
      line-height: 54px;
    }
    .services__selection {
      display: flex;
      width: 44%;
    }
    .services__list {
      width: 56%;
    }
    .service {
      &:first-child {
        .service__title {
          margin-top: 100px;
        }
      }
    }
  }
}

.service {
  .service__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $color-white;
    border-bottom: 1px solid $color-white;
    padding: 20px 0px;
    margin-bottom: 40px;
    margin-top: 60px;
    &:hover {
      border-bottom: 1px solid $color-red;
      &::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url($path_vector-red) 24px 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
    &::after {
      content: "";
      width: 24px;
      height: 24px;
      background: url($path_vector-white) 24px 24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
  }
  .service-elem {
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @include media-max("sm") {
    .service__title {
      font-size: 20px;
      &:hover {
        border-bottom: 1px solid $color-red;
        &::after {
          content: "";
          width: 20px;
          height: 20px;
          background: url($path_vector-red) 20px 20px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url($path_vector-white) 20px 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
  }
  @include media-min("xl") {
    .service__title {
      font-family: "a_Algerius";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 31px;
      &:hover {
        &::after {
          content: "";
          width: 26px;
          height: 26px;
          background: url($path_vector-red) 26px 26px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
      &::after {
        content: "";
        width: 26px;
        height: 26px;
        background: url($path_vector-white) 26px 26px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
      }
    }
    .service__title {
      margin-top: 120px;
    }
  }
}

.selection__list {
  margin-top: 100px;
  .selection__elem {
    padding: 20px 20px 20px 0px;
    border-bottom: 1px solid $color-white;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid $color-red;
      .selection__link {
        color: $color-red;
      }
    }
  }
  .selection__link {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
    color: $color-white;
  }
}

.service-elem {
  margin-bottom: 30px;
  .service-elem__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .service-elem__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: $color-white;
    padding-right: 10px;
  }
  .service-elem__price {
    font-family: "a_Algerius";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: $color-white;
    white-space: nowrap;
    padding-left: 0px;
  }
  .service-elem__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
  }

  @include media-min("md") {
    .service-elem__subtitle {
      width: 60%;
    }
  }
  @include media-min("xl") {
    .service-elem__title {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
