// https://www.figma.com/file/jatisMR3vWxGw2NvwGgnrM/barber?node-id=104%3A2783&t=SFIpNNvNRic6VYRK-0
@import "./include/nullstyle";
@import "./include/params";
@import "./include/container";
@import "./include/icons";
@import "./include/button";

@import "./part/header";
@import "./part/footer";
@import "./part/menu";
@import "./part/contacts";
@import "./part/why-us";
@import "./part/services";
@import "./part/blog";
@import "./part/certificates";
@import "./part/products";
@import "./part/collage";
@import "./part/masters";
@import "./part/block-info";
@import "./part/galery";
@import "./part/pagination";
@import "./part/review";

* {
  font-family: "Mulish";
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}
